#about-start, #blog-posts {
  margin-top: 100px;
}
.aboutP {
  margin-bottom: 50px;
}
#blog-posts span {
  margin-top: -50px;
  font-size: 11.2px;
  font-style: italic;
}
#blog a, #about a {
  opacity: .5;
}

#blog-posts h4 {
  font-family: 'Raleway', sans-serif;
}