.hidden {
    display: none;
}

body {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 200px;
    font-size: 32px;
    overflow-x: hidden;
}

a {
    color: #000;
}

h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-weight: 900;
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
    color: #000;
    text-decoration: none;
    opacity: .7;
}

.main-btn {
    border: 1px solid #000;
    background: #fff;
    padding: 20px;
    border-color: #000;
    color: #000;
    &:hover {
        background: #000;
        text-decoration: none;
        outline: 0;
        color: #fff;
    }
    &:focus {
        background: #000;
        text-decoration: none;
        outline: 0;
        color: #fff;
    }
}


/*Bootstrap changes*/

.container {
    width: 100%;
    margin-bottom: 15px;
}


/*Forces Bootstrap grid full screen width*/

.ham {
    margin-top: 25px;
}

.nav li a {
    &:hover,
    &:focus {
        background: #fff !important;
    }
}

.navbar-nav li a {
    outline: 0;
}

.nav-top {
    margin-top: 40px;
}


/*Fixes top margin*/

.navbar-fixed-top {
    background: #fff;
}

.navbar-toggle .icon-bar {
    background: #000;
    width: 40px;
    height: 5px;
}

.container .navbar-collapse {
    background: #fff;
}