#logo {
    color: #fff;
    font-size: 46px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #000;
    margin-top: 25px;
    margin-left: 25px;
    width: 80px;
    height: 80px;
    padding-left: 8px;
    padding-top: 6px;
    line-height: 95px;
    position: relative;
    outline: none;
}

#menuPage {
  .menuLeft {opacity: 0;}
  .menuRight {opacity: 0;}
    .menuFooter {
      margin-top: 150px;
      opacity: 0;
      a{
        margin: 15px;
      }
    }
    a {
        outline: none;
    }
}