#portfolio, #portfolioItem {
  opacity: 0;
}

.portfolioItems {
    opacity: 0;
}

.portfolio-title {
    opacity: 0;
}

.portfolio-stitle {
    opacity: 0;
}

.portfolioItemFooterNav {
    margin-top: 100px;
}

#searchField {
    font-family: inherit;
    font-size: 64px;
    line-height: 1;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0.1em 0;
    color: $gray;
    border: 0px;
    border-bottom: 4px solid #000;
    outline: none;
    margin-top: 100px;
    margin-bottom: 30px;
}

.portfolio-filter {
    margin-bottom: 80px;
    .portfolio-filter-btn {
        border: 1px solid #000;
        background: #fff;
        padding: 10px 20px;
        border-color: #000;
        color: #000;
        &:hover {
            background: #000;
            text-decoration: none;
            outline: 0;
            color: #fff;
        }
        &:focus {
            background: #000;
            text-decoration: none;
            outline: 0;
            color: #fff;
        }
    }
}